@page
@model _4UgersProjekt.Pages.Recipes.CreateCustomerModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="Customer.Id" class="control-label"></label>
        <input asp-for="Customer.Id" class="form-control" />
        <sPan asp-validation-for="Customer.Id" class="text-danger"></sPan>
    </div>
       <div class="form-group">
       <p> @Model.ErrorMessage </p>
        
    </div>
    <div class="form-group">
        <label asp-for="Customer.Name" class="control-label"></label>
        <input asp-for="Customer.Name" class="form-control" />
        <sPan asp-validation-for="Customer.Name" class="text-danger"></sPan>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Email" class="control-label"></label>
        <input asp-for="Customer.Email" class="form-control" />
        <sPan asp-validation-for="Customer.Email" class="text-danger"></sPan>
    </div>
    <div class="form-group">
        <label asp-for="Customer.KundeKlub" class="control-label"></label>
        <input asp-for="Customer.KundeKlub" class="form-check-input" />
        <sPan asp-validation-for="Customer.KundeKlub" class="text-danger"></sPan>
    </div>
    <h2>Manage Favorite Recipes</h2>
    <div class="form-group">
        <label>Select favorite recipes:</label>
        @for (int index = 0; index < Model.Recipes.Count; index++)
        {
            <div class="form-check">
                <input type="checkbox" asp-for="@Model.Favories[index]" class="form-check-input" />
                <label class="form-check-label">@Model.Recipes[index].Name</label>
            </div>
        }
    </div>
	<h2>Meal plan</h2>
	<table class="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th>
					Dag
				</th>
				<th>
					Morgen
				</th>
				<th>
					Middag
				</th>
				<th>
					Aften
				</th>
			</tr>
		</thead>
		<tbody>
			@for (int weekday = 0; weekday < Model.WeekDays.Count; weekday++)
			{
				<tr>
					<td>
						@Model.WeekDays[weekday].ToString()
					</td>
					<td>
						<select
							asp-for="@Model.MealPlanIdsMorning[weekday]" asp-items="@Model.RecipeSelectList" class="form-select form-select-lg">
							<option value="0">-- Select Recipe --</option>
						</select>
					</td>
					<td>
						<select 
							asp-for="@Model.MealPlanIdsNoon[weekday]" asp-items="@Model.RecipeSelectList" class="form-select form-select-lg">
							<option value="0">-- Select Recipe --</option>
						</select>
					</td>
					<td>
						<select 
							asp-for="@Model.MealPlanIdsEvening[weekday]" asp-items="@Model.RecipeSelectList" class="form-select form-select-lg">
							<option value="0">-- Select Recipe --</option>
						</select>
					</td>
				</tr>
			}
		</tbody>
	</table>
    <p>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </p>
</form>