@page
@model _4UgersProjekt.Pages.Recipes.GetAllRecipesModel
@{
}

<form method="post">
	<h1>Search</h1>
	<div class="input-group mb-3">
		<input asp-for="SearchString" class="form-control mr-1" placeholder="Enter search term" />
		<input type="submit" asp-page-handler="NameSearch" value="Search Recipes" class="btn btn-primary mr-1" />
		<input type="submit" asp-page-handler="IngredientSearch" value="Search Ingredients" class="btn btn-primary" />
	</div>
</form>
<form method="post">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Min</span>
		</div>
		<input asp-for="MinCalories" class="form-control mr-1"/>
		<div class="input-group-prepend">
			<span class="input-group-text">Max</span>
		</div>
		<input asp-for="MaxCalories" class="form-control mr-1"/>
		<input type="submit" asp-page-handler="CalorieFilter" 
			   value="Filter" class="btn btn-primary" />
	</div>
	<div class="form-group">
		<label class="control-label">Goal Type</label>
		<select asp-for="GoalType" asp-items="Html.GetEnumSelectList<Models.GoalType>()" class="form-select form-select-lg mb-3"></select>
		<input type="submit" asp-page-handler="GoalFilter"
			   value="Filter" class="btn btn-primary" />
		</div>

	<form method="post">
		<div class="form-group">
			<label class="control-label">Tool Type</label>

			<div class="form-check">
				<input type="checkbox" id="chk_oven" name="ToolType" value="oven" class="form-check-input" />
				<label for="chk_oven" class="form-check-label">Oven</label>
			</div>

			<div class="form-check">
				<input type="checkbox" id="chk_microwave" name="ToolType" value="microwave" class="form-check-input" />
				<label for="chk_microwave" class="form-check-label">Microwave</label>
			</div>

			<div class="form-check">
				<input type="checkbox" id="chk_pan" name="ToolType" value="pan" class="form-check-input" />
				<label for="chk_pan" class="form-check-label">Pan</label>
			</div>
		</div>
		<input type="submit" asp-page-handler="ToolFilter" value="Filter by Tool" class="btn btn-primary" />
	</form>
</form>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
	<th>
		Id
	</th>
	<th>
		Name
	</th>
	<th>		
	</th>
	<th>
		Ingredients
	</th>
	<th>
		Total Calories
	</th>
	<th>
		Goal type
	</th>
	<th>
		Tool type
	</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Recipes != null)
		{
			foreach (var item in Model.Recipes)
			{
						<tr>
							<td>
						@item.Id
							</td>
							<td>
						@item.Name
							</td>				
							<td>
						<a class="btn btn-primary btn-sm" type="button" title="Edit"
						   asp-page="EditRecipes" asp-route-id="@item.Id">Edit<i class="fa fa-edit"></i></a>
								<a class="btn btn-danger btn-sm " type="button" title="Delete"
						   asp-page="DeleteRecipes" asp-route-id="@item.Id">Delete<i class="fa fa-trash"></i></a>
							</td>
								<td>
						@for(int i = 0; i < item.Ingredients.Count; i++)
						{
							@item.Ingredients[i]
						}
						
							</td>
							<td>
						@item.TotalCalories
							</td>
							<td>
								@item.GoalT
							</td>
							<td>
								@item.ToolT
							</td>
							
						</tr>
			}
		}
	</tbody>
</table>
